<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      li {
        padding: 10px;
        border: 1px solid #ccc;
        margin: 10px 0;
        background-color: #f5f5f5;
      }
      .cheap {
        background-color: #e1f7e1;
      }
      .expensive {
        background-color: #f7e1e1;
      }
      .selected {
        background-color: #ffc;
      }
    </style>
  </head>
  <body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <div id="app">
      <h1>다양한 전시 정보</h1>
      <div>
        <h3>관람 예정인 전시 :</h3>
        <p>예상 총 금액: {{ totalPrice }} KRW</p>
      </div>
      <h3 v-show="selectedInfos.length === 0">관람 예정인 전시가 없습니다.</h3>
      <h3>{{selectedEveryTitles}}</h3>
      <!-- <h3 v-for="selectedInfo in selectedInfos" :key="selectedInfo">
        {{selectedInfo}}
      </h3> -->
      <hr />
      <label for="isActive">전시 중인 정보만 보기</label>
      <input type="checkbox" id="isActive" v-model="isActive" />
      <ul>
        <li
          v-for="(object, index) in (isActive ? activeExhibitions : objects)"
          :key="index"
          :class="{ 'cheap': object.price <= 5000, 'expensive': object.price >= 20000, 'selected': object.isSelected }"
        >
          <div>
            <label for="isSelected">전시 관람 하기</label>
            <input
              type="checkbox"
              id="isSelected"
              v-model="object.isSelected"
              :disabled="!object.isActive"
            />
          </div>
          <div style="color: red" v-if="!object.isActive">
            <p>전시가 종료되어 관람 할 수 없습니다.</p>
          </div>
          <h3>{{ object.title }}</h3>
          <hr />
          <p>전시 장소: {{ object.location }}</p>
          <p>
            가격: {{ object.price === 0 ? "무료 전시입니다." : object.price }}
            원
          </p>
          <p v-if="object.isActive">전시 중</p>
          <p v-else>전시 종료</p>
          <hr />
        </li>
      </ul>
    </div>

    <script>
      const { createApp, ref, computed, watch } = Vue;

      let app = createApp({
        setup() {
          const objects = ref([
            {
              title: "무라카미 다카시 : 무라카시좀비",
              location: "부산 시립 미술관",
              price: 1000,
              isActive: true,
              isSelected: false,
            },
            {
              title: "마우라치오 카텔란 개인전",
              location: "리움 미술관",
              price: 30000,
              isActive: true,
              isSelected: false,
            },
            {
              title: "조선백자전",
              location: "리움 미술관",
              price: 30000,
              isActive: true,
              isSelected: false,
            },
            {
              title: "한국 실험미술 1960 - 1970",
              location: "국립현대미술관",
              price: 0,
              isActive: true,
              isSelected: false,
            },
            {
              title: "에드워드 호퍼 : 길 위에서",
              location: "서울 시립 미술관",
              price: 1000,
              isActive: false,
              isSelected: false,
            },
            {
              title: "알렉산더 칼더 x 이우환",
              location: "국제갤러리 서울점",
              price: 15000,
              isActive: false,
              isSelected: false,
            },
          ]);

          const isActive = ref(false);

          const activeExhibitions = computed(() => {
            return objects.value.filter((object) => object.isActive);
          });

          const selectedEveryTitles = ref("");
          const selectedInfos = ref([]);
          const totalPrice = ref(0);

          watch(objects.value, (newvalue, oldValue) => {
            const filteredInfos = objects.value.filter(
              (object) => object.isSelected
            );
            let sum = 0;

            selectedEveryTitles.value = "";
            selectedInfos.value = [];
            let start = true;
            for (let obj of filteredInfos) {
              selectedInfos.value.push(obj.title);
              sum += obj.price;
              if (!start) selectedEveryTitles.value += ", ";
              selectedEveryTitles.value += obj.title;
              start = false;
              //console.log(obj.title);
            }
            totalPrice.value = sum;
            //console.log("가격 : " + sum);
          });
          return {
            isActive,
            objects,
            activeExhibitions,
            selectedInfos,
            selectedEveryTitles,
            totalPrice,
          };
        },
      });

      app.mount("#app");
    </script>
  </body>
</html>
